#file {
    width: 100%;
    height: 100%;
  }
  .search {
    width: 100%;
    height: 100%;
  }
  .context {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 24px 12px;
  }
  .img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }
  .outer {
    display: flex;
    &:nth-child(2) {
      margin-top: 12px;
    }
    &:nth-child(4) {
      height: 36px;
      justify-content: space-between;
      & > div {
        flex-grow: 1;
      }
    }
    &:nth-child(5) {
      height: 67px;
      span {
        flex-shrink: 0;
        padding-right: 15px;
      }
      div > div {
        width: 464px;
        padding: 8px;
        border: 1px solid #dedede;
        line-height: 1.4;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
      }
      div > span {
        line-height: 33px;
        text-indent: 1rem;
        color: #0188fb;
        cursor: pointer;
      }
    }
  }
  .footer{
      width: 544px;
      box-sizing: border-box;
      position: absolute;
      bottom: 10px;
      display: flex;
      flex-direction: row-reverse;
  }
  .pagination{
    display: flex;
    flex-direction: row-reverse;
    margin-top:30px ;
  }
  .top {
    margin-bottom: 24px;
  }