@import url('../../assets//body.less');

@import url('../category/index.less');

.category_title {
    padding: 16px 0;
    margin-bottom: 16px;
    background: var(--bg-second);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    p {
        margin: 8px 0 0 0;
        line-height: 28px;
        &.Count {
            line-height: 24px;
            margin: 0;
        }
        span {
            color: var(--primary-color);
            font-size: 24px;
            padding: 0 4px;
            &.num {
                font-size: 18px;
            }
        }
    }
}
.tag {
    .container {
        .tag_left {
            .list {
                .list_h3 {
                    padding: 16px;
                    color: var(--main-text-color);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                    border-bottom: 1px solid var(--border-color);
                }
                .list_title {
                    a {
                        display: inline-block;
                        padding: 0 7px;
                        border: 1px solid var(--border-color);
                        border-radius: var(--border-radius);
                        margin: 0 7px 7px 0;
                        color: var(--second-text-color);
                        line-height: 27px;
                        cursor: pointer;
                        transition: all 0.2s;
                        &.active {
                            border: 1px solid var(--primary-color);
                            color: #fff;
                            background-color: var(--primary-color);
                        }
                        &:first-child {
                            padding: 0 7px;
                        }
                    }
                }
            }
        }
    }
}
    
