.pagina{
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    margin: 16px 0 0;
    padding: 16px 0;
    text-align: center;
    a {
        color: var(--main-text-color);
    }
    span {
        color: var(--main-text-color);
    }
}
.ant-pagination-item a:hover{
    color: var(--main-text-color);
}
.ant-pagination-item-active a:hover{
    color: var(--primary-color);
}

.ant-pagination-item:hover{
    border-color: var(--primary-color);
}
.ant-pagination-item-active a{
    color: var(--primary-color);
}
.ant-pagination-item-active{
    border-color: var(--primary-color);
    
}