// @import url('../../assets/body.less');

* {
  margin: 0;
  padding: 0;
}

.RecommendedReading {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  transform: all 0.5s;
  margin: 0 0 20px 0;

  .RecommendedReading_top {
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
    line-height: 17px;
  }

  .content {
    padding: 0 16px 16px;
    margin: 0;

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      padding-top: 16px;
      color: var(--second-text-color);
      cursor: pointer;

      a {
        span {
          color: var(--main-text-color);
        }

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        color: var(--primary-color);

        span {
          color: var(--primary-color);
        }

        time {
          color: var(--primary-color);
        }
      }
    }

    .content_li {
      justify-content: space-between;
      color: var(--second-text-color);
    }
  }
}
