.ShareMask {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .4);
   position: fixed;
   top: 0;
   left: 0;
   outline: 0;
   -webkit-overflow-scrolling: touch;
   z-index: 888;
   overflow: auto;
    .mask_con {
      z-index: 999;
      box-sizing: border-box;
      color: #000;
      font-size: 14px;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      width: 400px;
      max-width: calc(100vw - 32px);
      margin: 0 auto;
      position: relative;
      top: 100px;
      overflow: hidden;
      padding: 0 0 24px 0;
    }
   .mask_content {
     background-color: #fff;
     overflow: hidden;
     .mask_herder {
       width: 100%;
       height: 56px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 24px 16px;
       border-bottom: 1px solid #ccc;
     }

     .mask_contents {
       width: 100%;
       padding: 15px;
       border-bottom: 1px solid #ccc;

       img {
         width: 100%;
       }

       .mask_title {
         font-weight: 700;
         font-size: 20px;
       }

       .mask_qrCode {
         display: flex;

         p {
           span {
             color: red;
             cursor: pointer;

           }
         }

         .mask_qrCode_img {
           width: 80px;
           height: 80px;
         }
       }

     }

     .mask_bottom {
       padding: 10px 16px 16px 0;
       text-align: right;

       button {
         cursor: pointer;
         margin: 0 5px;
         line-height: 1.5715;
         position: relative;
         display: inline-block;
         font-weight: 400;
         white-space: nowrap;
         text-align: center;
         background-image: none;
         box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
         cursor: pointer;
         transition: all .3s cubic-bezier(.645, .045, .355, 1);
         user-select: none;
         touch-action: manipulation;
         height: 32px;
         padding: 4px 15px;
         font-size: 14px;
         border-radius: 2px;
         color: #000;
         background: #fff;
         border: 1px solid #d9d9d9;

         &:nth-child(2) {
           background-color: red;
           color: #fff;
         }
       }
     }
   }
 }
