@import url("../assets/body.less");
// @import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  font-family: -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Microsoft YaHei,
    Source Han Sans SC,
    Noto Sans CJK SC,
    WenQuanYi Micro Hei,
    sans-serif;
  // color: #333;
}

body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Microsoft YaHei,
    Source Han Sans SC,
    Noto Sans CJK SC,
    WenQuanYi Micro Hei,
    sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px transparent;
}

::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
}

a {
  color: #333;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.layouts {

  .layouts_main {
    min-height: 100vh;
    background: var(--bg-body)
  }

  .searchFlag {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 100000;
    padding: 28px 14px;
    box-sizing: border-box;
    top: 0;
    background-color: #fff;

    .searchFlag_content {
      // width: 1140px;
      margin: 0 auto;
      cursor: pointer;

      .search_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;

        .articleSearch {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 600;
        }

        .search_esc {
          display: flex;
          align-items: center;
          flex-direction: column;
          color: var(--disable-text-color);
          cursor: pointer;
          text-align: center;

          span {
            color: #a6a6a6;
            font-size: 18px;
          }
        }
      }

      .search_input {
        display: inline-block;
        text-align: start;
        vertical-align: top;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: #000;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum';
        position: relative;
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        height: 40px;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 97%;
          height: 100%;
          border: 1px solid #ccc;
          padding: 0 10px;
          outline-color: red;
          font-size: 16px;
          font-weight: 600;
        }

        ::-webkit-input-placeholder {
          /* Edge */
          color: #ccc;
          font-size: 16px;
        }

        button {
          width: 3%;
          position: relative;
          cursor: pointer;
          left: -1px;
          top: -1px;
          height: 100%;
          padding: 0;
          border: 1px solid #ccc;
          background-color: #fff;
        }
      }

      .search_input_fuzzy {
        li {
          display: flex;
          align-items: center;
          line-height: 48px;
          height: 48px;
          font-size: 16px;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        li:hover {
          background-color: var(--bg-body);
        }
      }
    }
  }



  .gotop {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 100px;
    bottom: 60px;
    color: #fff;
    background: #000;
    text-align: center;
    display: none;

    svg {
      font-size: 25px;

      path {
        color: #fff;
      }
    }
  }
}

#nprogress .bar {
  background-color: var(--primary-color);
}
