@import url('../../assets//body.less');

@import url('../index.less');

.category_title {
    padding: 16px 0;
    margin-bottom: 16px;
    background: var(--bg-second);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    p {
        margin: 8px 0 0 0;
        line-height: 28px;
        color: var(--second-text-color);
        &.Count {
            line-height: 24px;
            margin: 0;
        }
        span {
            color: var(--primary-color);
            font-size: 24px;
            padding: 0 4px;
            &.num {
                font-size: 18px;
            }
        }
    }
}