.ul {
  overflow: hidden;
  margin: 0;

  li {
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    &.active {
      opacity: 1;
    }
    &:last-child {
      margin: 0;
      padding: 0;
      border: 0;
    }
    &:hover {
      .list_top {
        h3 {
          color: var(--primary-color);
        }
      }
    }
    .list_top {
      overflow: hidden;
      margin: 0 0 12px 0;

      h3 {
        float: left;
        color: var(--main-text-color);
        overflow: hidden;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      span {
        color: #8590a6;
        font-size: 14px;
        padding: 0 0 0 8px;

        i {
          position: relative;
          top: -.06em;
          display: inline-block;
          height: .9em;
          margin: 0 8px;
          vertical-align: middle;
          border-top: 0;
          border-left: 1px solid rgba(0, 0, 0, .06);
        }
      }

      .createAt {
        float: left;
      }
    }

    .list_content {
      overflow: hidden;
      display: flex;

      .img {
        position: relative;
        width: 190px;
        min-width: 190px;
        margin: 0 16px 0 0;
        max-height: 150px;
        min-height: 100px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          transform: translate3d(-50%, -50%, 0);
          object-fit: cover;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--second-text-color);
        >p {
          font-size: 14px;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 3;  /*限制在一个块元素显示的文本的行数*/
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .button {
      span {
        line-height: 20px;
        color: var(--second-text-color);
        svg {
          margin: 0 6px -2px 0;
          path {
            color: #8590a6;
            line-height: 20px;
          }

        }
      }

      i {
        margin: 0 8px;
        color: #8590a6;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
