#form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    box-shadow: 0 2px 8px #f0f1f2;
    border-radius: 4px;
    display: flex !important;
    &>div{
        padding: 2rem;
    }
    &:after,&:before{
        display: flex;
    }
}
.image{
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    background: #fff;
}
.feedIn{
    background: #f7fafb;
    display: inline-flex;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    &>div{
        width: 100%;
        a{
            color: var(--main-text-color);
        }
        p{
            width: 100%;
            display: flex;
            line-height: 31.6px;
            span{
                flex-shrink: 0;
            }
            span:first-of-type{
                color: red;
                padding-right: 4px;
            }
        }
    }
}

