  .main {
    margin-top: 28px;
    background: white;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .imgBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    div {
      width: 20%;
      margin-right: 0.61%;
    }
  }

  .ant-card-body {
    height: 117px;
  }

  .ant-card-bordered {
    width: 280px;
    margin-right: 1.4%;

    .ant-card-cover {
      width: 100%;
      height: 120px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

      }
    }

  }

  .ant-card-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .bottom {
    margin-top: 25px;
    text-align: right;
  }

  .ant-popover-inner-content {
    color: white;
  }
