
.index {
  padding: 16px 0 16px 0;
}

.container {
  // .publice_contaienr;
    // margin: 0 auto 16px auto;
  .index_left {
    width: calc(100% - 320px - 16px);
    //文章列表
    .list {
      overflow: hidden;
      background: var(--bg-second);
      .list_title {
        padding: 16px;
        border-bottom: 1px solid var(--border-color);
        a {
          padding: 0 12px;
          color: var(--second-text-color);
          &:first-child {
            padding: 0 12px 0 0;
          }
          &:hover {
            color: #ff0064;
          }
          &.active {
            color: #ff0064;
          }
        }
      }
      .list_content {
        padding: 16px;
      }
    }
  }
  .index_right {
    width: 320px;
    float: right;
    // background: #fff;
  }
}
