.messagebord{
    width: 100%;
    background-color: var(--bg-second);
    padding: 16px;
    .area{
        width: 100%;
        height: 190px;
        .tb{
            width: 100%;
            height: 140px;
            textarea{
                cursor: pointer;
                font-size: 18px;
                outline: none;
                padding-left: 5px;
                background-color: var(--bg-second);
                color: var(--second-text-color);
                font-size: 14px;
                border-color: var(--comment-editor-border-color);
                &::placeholder {
                    color: var(--comment-editor-border-color);
                }
            }
        }
        .footer{
            padding: 16px 0 0;
            display: flex;
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            .left{
                width: 50px;
                height: 24px;
                display: flex;
                align-items: center;
                color: var(--disable-text-color);
                font-size: 14px;
                cursor: pointer;
                span{
                    margin: 0 0 0 3px;
                    color: var(--second-text-color);
                }
            }
            .left:hover{
                color: #ff0064;
            }
            .left:hover span{
                color: #ff0064;
            }
            .right{
                width: 64px;
                height: 32px;
                button{
                    border-color: var(--comment-editor-border-color);
                    color: var(--main-text-color);
                    background-color: var(--comment-editor-disable-bg);
                    width: 100%;
                    height: 100%;
                    border: none;
                    cursor:not-allowed;
                }
                .active{
                    background-color: red;
                    color: #fff;
                    cursor:pointer
                }
            }
        }
    }
}
.face{
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    height: 240px;
    overflow: auto;
    font-size: 22px;
    cursor: pointer;
    >li{
        width: 7.1%;
    }
}