.list_content {
  padding: 16px;
}
.empty {
  width: 100%;
  height: 60px;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 60px;
  text-align: center;
}
h4 {
  padding: 16px 0;
  text-align: center;
}