// @import url('../../assets/body.less');

.carousel{
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 16px 0;
  background: var(--bg-second);
  .carouselItem {
    position: relative;
    height: 316px;
    cursor: pointer;
    .bg {
      height: 316px;
      width: 100%;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
    }
    img {
      width: 100%;
    }
    .mask {
      position:absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0,0,0,.35);
      z-index: 1;
      h2 {
        margin: 0 0 6px 0;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
      }
      p {
        font-size: 14px;
        color: #fff;
        text-align: center;
      }
    }
  }
}