// @import url('../../assets/body.less');

.archives {
  // .publice_contaienr;
  // min-height: 100vh;
  background: var(--bg-body);
  margin: 0 auto;
  padding: 16px 0 16px 0;
  overflow: hidden;
  position: relative;
  .archives_left {
    width: calc(100% - 320px - 16px);
    box-sizing: border-box;
    background-color: var(--bg-second);
    float: left;
    .archives_left_content {
      .header {
        width: 100%;
        padding: 16px 0;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--bg-second);
        text-align: center;
        p {
          color: var(--second-text-color);
          &:nth-child(1) {
            margin: 8px 0 0 0;
            line-height: 28px;
            span {
              font-size: 1.5rem;
            }
          }
          &:nth-child(2) {
            margin: 0;
            line-height: 25px;
          }
          span {
            color: var(--primary-color);
            font-size: 1.1rem;
          }
        }
      }
      .big {
        padding: 1rem 1.3rem;
        h2 {
          color: var(--second-text-color);
          font-size: 24px;
          line-height: 24px;
        }
        .match_content {
          padding: .5rem 1rem;
          border-radius: 4px;
          h3 {
            margin-top: 0;
            margin-bottom: .5em;
            font-weight: 500;
            color: var(--second-text-color);
          }
          & > ul {
            margin: 0;
            padding-left: 2.5rem;
            li {
              height: 48px;
              position: relative;
              padding: 0.5rem 0;
              position: relative;
              display: list-item;
              padding: .5rem 0;
              &:hover {
                color: var(--primary-color);
                a {
                  color: var(--primary-color);
                  span {
                    color: var(--primary-color);
                  }
                }
              }
              &:hover:before {
                background: var(--primary-color);
              }
              &:before {
                position: absolute;
                top: 17px;
                left: -1rem;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: -4px;
                background: var(--disable-text-color);
                content: ' ';
                opacity: 0.5;
              }
              a {
                display: inline-block;

                width: 100%;
                height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .time_time {
                padding-right: 1em;
                margin: 0;
                color: var(--second-text-color);
                font-size: 0.8rem;
              }

              .item_title {
                color: var(--main-text-color);
                overflow: hidden;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.4;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  .archives_right {
    width: 320px;
    float: right;
    // padding-top: 1rem;
    padding-bottom: 1rem;
    .sticky {
      // position: sticky;
      top: 1rem;
      margin-bottom: 1rem;
      // .sticky_top {
      //   margin-bottom: 1.3rem;
      //   line-height: 1.29;
      //   overflow: hidden;
      //   border-radius: var(--border-radius);
      //   background-color: var(--bg-second);
      //   box-shadow: var(--box-shadow);
      //   .sticky_top_title {
      //     padding: 1rem 1.3rem;
      //     border-bottom: 1px solid var(--border-color);
      //     color: var(--main-text-color);
      //     span {
      //       font-weight: bold;
      //     }
      //   }
      // }
      // .sticky_bottom {
      //   border-radius: var(--border-radius);
      //   margin-bottom: 1.3rem;
      //   background-color: var(--bg-second);
      //   box-shadow: var(--box-shadow);
      //   line-height: 1.29;
      //   overflow: hidden;
      //   .sticky_bottom_title {
      //     padding: 1rem 1.3rem;
      //     border-bottom: 1px solid var(--border-color);
      //     color: var(--main-text-color);
      //     span {
      //       font-weight: bold;
      //     }
      //   }
      // }
    }
  }
  // }
}
