.setting{
    width: 100%;
    min-height: 486.312px;
    background: rgb(255, 255, 255);
    padding: 16px;
    .minTitle{
        margin: 24px 0 8px 0;
    }
}
.pagination{
    display: flex;
    flex-direction: row-reverse;
    margin-top:30px ;
}
.btnBox{
    margin-top:24px ;
}
