// @import url('../../assets/body.less');
.RecommendedReading {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  // height: 254px;
  max-height: 254px;
  overflow: hidden;
  margin: 0 0 20px 0;

  .RecommendedReading_top {
    padding: 14px;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
    line-height: 17px;
  }

  .content {
    padding: 0 16px 16px;
    margin: 0;

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      padding-top: 16px;
      line-height: 16px;
      width: 100%;
      color: var(--second-text-color);
      cursor: pointer;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 1; /*限制在一个块元素显示的文本的行数*/
      -webkit-box-orient: vertical;
      overflow: hidden;
      a {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span {
          color: var(--main-text-color);
        }

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        color: var(--primary-color);

        span {
          color: var(--primary-color);
        }

        time {
          color: var(--primary-color);
        }
      }
    }

    .content_li {
      justify-content: space-between;
      color: var(--second-text-color);
    }
  }
}
