#mail{
    width: 100%;
    min-height: 486.312px;
    .operation{
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        font-size: 1.1em;
        box-sizing: border-box;
        &>span{
            cursor: pointer;
        }
    }
    .searchResultlist{
        padding: 24px 12px;
        box-sizing: border-box;
        background: #fff;
    }
}
.pagination{
    background: #fff;
    padding: 24px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
}
